<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
  <head>
    <title>APP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
        html,
        body {
          height: 100%;
          background-color: #2b3035;
          color: #fff;
        }

        .form-signin {
          max-width: 330px;
          padding: 1rem;
        }

        .form-signin .form-floating:focus-within {
          z-index: 2;
        }
        
    </style>

  </head>
  <body class="d-flex align-items-center py-4">

    <div class="form-signin w-100 m-auto">

      <form action="" method="post">

        <h1 class="h3 mb-3 fw-normal text-center">Iniciar sesión</h1>

        {% for message in get_flashed_messages() %}
          <p class="text-info text-center">{{ message }}</p>
        {% endfor %}

        {% if error %}
          <p class="text-danger-emphasis text-center">{{ error }}</p>
        {% endif %}

        <div class="form-group">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Usuario" name="usuario" value="{{
              request.form.usuario}}">
            <label for="floatingInput">Usuario</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" autocomplete="off" name="contrasena" value="{{
              request.form.contrasena}}">
            <label for="floatingPassword">Contraseña</label>
          </div>
        </div>
        
        <button type="submit" class="btn btn-primary mt-3">Ingresar</button>

      </form>

    </div>

  </body>
  
</html>